<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
<link th:href="@{/assets/lib/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>

<!-- 这里必须引入min.css，否则登录页面登录成功跳转到error页，也不知道为什么，但就是这么神奇 -->
<link th:href="@{/assets/lib/material-kit-master/assets/css/material-kit.min.css}" rel="stylesheet" />
</html>